@import "tailwindcss";

@theme {
  /* Définition de notre palette de couleurs */
  --color-wedding-gold: #d4af37;
  --color-wedding-dark: #1a1a1a;
  --color-wedding-cream: #fdfbf7;

  /* Définition de nos polices sur mesure (liées aux variables Next.js) */
  --font-serif: var(--font-playfair);
  --font-script: var(--font-great-vibes);
}

body {
  background-color: var(--color-wedding-cream);
  color: var(--color-wedding-dark);
}